.dropdown {
    
}


.dropdowndiv {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
}

.dropdowndiv span {
    color: red;
    padding: 5px;
}

.dropdown:hover .dropdowndiv {
    display: flex;
    position: absolute;
    z-index: 2;
}

.dropdown2 {
    background-color: cyan;
    display: none;
    flex-direction: column;
    align-items: center;
}

.dropdown2 span {
    padding: 5px;
    color: rgb(0, 80, 12);
}

.dropdowndiv :nth-child(2):hover .dropdown2 {
    display: flex;
}

.mother-div {
    height: 400px;
    width: 600px;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-div {
    width: 500px;
    height: 400px;
    background-image: url(https://images.pexels.com/photos/245032/pexels-photo-245032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    filter: grayscale(100%) brightness(40%);
}

.sub-div {
    display: none;
    background-color: cyan;
}

#secondD:hover .sub-div{
    display: block;
    position: absolute;
    left: 140px;
}